<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Secretaria</title>
    <%- include('../componentes/head_links'); %>
</head>

<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
                
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>

        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
    <ul class="breadcrumb">
        <li><a href="index">Início</a></li>
        <li class="breadcrump_pagatual">Calendario Acadêmico
        </li>
    </ul>
    <main id="conteudo_calendario">
        <section>
            <iframe src="https://calendar.google.com/calendar/embed?src=h43lp1t3m9uhnjujt73k6t5lhg%40group.calendar.google.com&amp;ctz=America%2FSao_Paulo"></iframe>
            <p>
                <a href="../assets/arquivos/CalendárioAcadêmicoFATEC ZL-2ºsem2021.pdf" target="_blank">Confira o calendário do 2º semestre de 2021 em pdf.</a><br>
                <a href="../assets/arquivos/Calendario FZL 1s2022 aprovado.pdf" target="_blank">Confira o calendário do 1º semestre de 2022 em pdf.</a>
            </p>
        </section>
    </main>
    <footer>
        <%- include('../componentes/footer'); %>
    </footer>
</body>

</html>