<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Secretaria</title>
    <%- include('../componentes/head_links'); %>
</head>
<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
         
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>

        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
  <body>
    <main>
    <h1>Edição do Cadastro Bilhete Unico</h1>
    <form action="/cadastro-bilhetebom-edit-salvar" method="post">
        <input name="id" type="hidden" value=<%=bilhetebom.ID %> >
       
        <fieldset class="fieldset_bilhete">
                <legend>Dados Pessoais</legend>
                    <label for="nome" class="required">  Nome </label><br>
                    <input type="text" name="nome" id="nome" required
                    placeholder="Nome Completo" value= <%=bilhetebom.NOME %>><br>
                    <label for="cpf"  class="required">CPF</label><br>
                    <input type="text" name="cpf" id="cpf" required
                    placeholder="999.999.999-99" value= <%=bilhetebom.CPF %>><br>
                    <label for="rg"  class="required" >RG</label><br>
                    <input type="text" name="rg" id="rg" required
                    placeholder="99.999.999-99" value= <%=bilhetebom.RG %>><br>
                    <label for="emissao"  class="required" >Emissão</label><br>
                    <input type="text" name="emissao" id="emissao" required
                    placeholder="Local de emissao" value= <%=bilhetebom.EMISSAO %> ><br>
                    <label for="uf"  class="required"  >UF</label><br>
                    <input type="text" name="uf" id="uf" required
                    placeholder="Unidade Federativa" value= <%=bilhetebom.UF %>><br>
                    <label for="nomemae" class="required">Nome Mãe</label><br>
                    <input type="text" name="nomemae" id="nomemae" required
                    placeholder="Nome da mãe" value= <%=bilhetebom.NOME_MAE %>><br>
                    <label for = "email"  class="required" >Email</label><br>
                    <input type="email" name="email" id="email"
                    required placeholder="nome@site.com.br" value= <%=bilhetebom.EMAIL %>><br>
                    <label for="telefone" class="required">Telefone Residencial</label><br>
                    <input type="text" name="telefone" id="telefone" required
                    placeholder="(99)9999-9999" value= <%=bilhetebom.TELEFONE %>><br>
                    <label for = "celular" class="required">Celular</label><br>
                    <input type="text" name="celular" id="celular" required
                    placeholder="(99)9999-9999" value= <%=bilhetebom.CELULAR %>><br>
            </fieldset>
            <fieldset class="fieldset_bilhete">
                <legend>Endereço</legend>
                    <label for="cep" class="required">CEP</label><br>
                    <input type="text" name="cep" id="cep" required
                    placeholder="99999-999" value= <%=bilhetebom.CEP %>><br>
                    <label for="endereco">Endereço</label><br>
                    <input type="text" name="endereco" id="rua" value= <%=bilhetebom.ENDERECO %>><br>
                    <label for="bairro">Bairro</label><br>
                    <input type="text" name="bairro" id="bairro" value= <%=bilhetebom.BAIRRO %>><br>
                    <label for="cidade">Cidade</label><br>
                    <input type="text" name="cidade" id="cidade" value= <%=bilhetebom.CIDADE %>><br>
                    <label for="estado">Estado</label><br>
                    <input type="text" name="estado" id="estado" value= <%=bilhetebom.ESTADO %>><br>
                    <label for="complemento">Complemento</label><br>
                    <input type="text" name="complemento" id="complemento" value= <%=bilhetebom.COMPLEMENTO %>><br>
                    <label for="curso" class="required">Curso</label><br>
                    <input type="text" name="curso" id="curso" required
                     placeholder="Curso" value= <%=bilhetebom.CURSO %>><br>
                     <label for="turno" class="required">Turno</label><br>
                    <input type="text" name="turno" id="turno" required
                     placeholder="turno" value= <%=bilhetebom.TURNO %>><br>
                     <label for="semestre" class="required">Semestre</label><br>
                    <input type="text" name="semestre" id="semestre" required
                    placeholder="semestre" value= <%=bilhetebom.SEMESTRE %>><br>
                    <!-- <label for="datapedido"  class="required" >Data do pedido</label><br>
                    <input type="date" name="datapedido" id="datapedido" required value= <%=bilhetebom.DATA_PEDIDO %>><br> -->
                    <label for="tipodetarifa" class="required">Tipo de Tarifa</label><br>
                    <input type="text" name="tipodetarifa" id="tipodetarifa" required
                    placeholder="tipo de tarifa" value= <%=bilhetebom.TARIFA %>><br>
            </fieldset>
        
        <input type="submit" value="Alterar" onclick="location.href='/formulario_bilhete_bom'" />
    </form>
   </main>
   </body>
   <footer>
    <%- include('../componentes/footer'); %>
   </footer>
</html>