<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Secretaria</title>
    <%- include('../componentes/head_links'); %>
</head>
<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
         
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>

        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
  <body>
    <main>
    <h1>Edição do Requirimento ao Coordenador</h1>
    <form name="requerimento_ao_coordenador" id="requerimento_ao_coordenador" action="/requerimento_ao_coordenador-usuario-salvar" method="POST">
      <input name="id" type="hidden" value=<%=requerimento.ID %> >
          <fieldset class="fieldset_bilhete">
            <legend>Dados da Requisição</legend>
            <label for="nome" class="required">Nome Completo</label><br />
            <input
              type="text"
              name="nome"
              id="nome"
              required
              placeholder="Nome Completo"
              value=<%=requerimento.NOME %>
            /><br />
            <label for="ra" class="required">RA</label><br />
            <input
              type="text"
              name="ra"
              id="ra"
              required
              placeholder="9999999999999"
              value=<%=requerimento.RA %>
            /><br />
            <label for="curso" class="required">Curso</label><br />
            <input type="text" name="curso" id="curso" required value=<%=requerimento.CURSO %>/><br />
            <label for="turno" class="required">Turno</label><br />
            <input type="text" name="turno" id="turno" required value=<%=requerimento.TURNO %>/><br />
            <label for="email" class="required">E-Mail</label><br />
            <input
              type="email"
              name="email"
              id="email"
              required
              placeholder="nome@site.com.br"
              value=<%=requerimento.EMAIL %>
            /><br />
            <label for="celular">Celular</label><br />
            <input
              type="tel"
              name="celular"
              id="celular"
              placeholder="(99) 99999-9999"
              value=<%=requerimento.CELULAR %>
            /><br />
            <label for="mensagem" class="required"
              >Solicitação ao Coordenador</label
            ><br />
            <input
              name="solicitacao"
              id="mensagem"
              placeholder="Digite a mensagem aqui"
              required
              value=<%=requerimento.SOLICiTACAO %>
            ></input>

            <p id="ckb_declaracao">
              <input type="checkbox" value="" class="checkbox-1" /> Declaro e
              confirmo que todas as informações prestadas neste formulário e sua
              autenticidade são de plena responsabilidade minha e estou ciente
              de que a falsidade nas informações prestadas implicará nas
              penalidades cabíveis. Ciente e confirmo as informações desse
              formulário.
            </p>

            <input type="submit" value="Alterar" onclick="location.href='/requerimento_ao_coordenador'" />
          </fieldset>
        </form>
   </main>
   </body>
</html>