<!DOCTYPE html>
<html>
 <head>
    <title>Lista Solicitação</title>
    <%- include('../componentes/head_links'); %>
</head>

<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
         
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>

        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
  <body>
    <main>
    <form method="post" action="/contato-usuario-salvar" onsubmit="return validar();">
      <div id="mensagem">
        <h1><%= mensagem %></h1>
      </div>
        <ul>
          <% docs.forEach(function(contato){ %>
          <li>
          <fieldset class="fieldset_lista">
          <div id="pass">
            <div>
            <%= contato.NOME %>
            </div>
            <div>
            <%= contato.CURSO %>
            </div> 
            <input
              class="teste"
              type="button"
              onclick="location.href='/delete-contato/<%= contato.ID %>'"
              value="delete"
            />
            <input
              class="teste"
              type="button"
              onclick="location.href='/edit-contato/<%= contato.ID %>'"
              value="editar"
            />
          </div>
          </fieldset>
          </li>
          <% }) %>
        </ul>
        <br />
        <br />
        <input
          class="teste"
          type="button"
          onclick="location.href='/contato'"
          value="Novo usuário"
        />
      </form>
    </main>
</body>
    <footer>
    <%- include('../componentes/footer'); %>
    </footer>
</html>
