<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Secretaria</title>
    <%- include('../componentes/head_links'); %>
</head>

<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
        
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>
       
        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
    <ul class="breadcrumb">
        <li><a href="index">Início</a></li>
        <li><a href="javascript:void(0);">Solicitação</a></li>
        <li class="breadcrump_pagatual">Prazo de entrega
        </li>
    </ul>
    <main id="conteudo_prazo">
        <section>
                <div class="teste3">
                    <h2 id="titulo_regimento">PRAZO PARA ENTREGA DE DOCUMENTOS</h2>
                </div>
                <div class="teste2">
                    <h3>DOCUMENTOS PRAZO(DIAS ÚTEIS)</h3>
                    <div class="grid_documento"> 
                        <div class="documento"> 
                            <p>Atestado de Matrícula</p>
                            <p>Atestado de disciplinas e frequência </p>
                            <p>Carteira de Identidade Estudantil – 2ª via</p>
                            <p>Conteúdo Programático de disciplinas</p>	
                            <p>Declarações em geral para ex-alunos</p>	
                            <p>Histórico Escolar para Transferência</p>	
                            <p>Histórico Escolar para aluno</p>	
                            <p>Histórico Escolar para ex-aluno</p>	
                            <p>Ofícios e Cartas de Apresentação</p>	
                            <p>Outros</p>
                        </div>
                        <div class="dias">
                            <p>3</p>
                            <p>3</p>
                            <p>4</p>
                            <p>5</p>
                            <p>3</p>
                            <p>5</p>
                            <p>5</p>
                            <p>5</p>
                            <p>5</p>
                            <p>10</p>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        <%- include('../componentes/footer'); %>
    </footer>
</body>

</html>