<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Secretaria</title>
    <%- include('../componentes/head_links'); %>
</head>
<body>
    <header id="topo">
        <%- include('../componentes/menu_acessibilidade'); %>
        
        <!--imagem header-->
        <%- include('../componentes/imagem_header'); %>
      
        <!--menu-->
        <%- include('../componentes/nav'); %>
        
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
          <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
          <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
          </script>
    </header>
    <ul class="breadcrumb">
        <li><a href="index">Início</a></li>
        <li><a href="javascript:void(0);">Solicitação</a></li>
        <li class="breadcrump_pagatual">Solicitação de Documentos
        </li>
    </ul>
    <main id="conteudo_bilhete_bom">
        <section class="form_bilhetes">   
         <form id="valida" method="post" onsubmit="return validar();">
             <h2>Solicitação de Documentos</h2>
            <fieldset class="fieldset_bilhete">
                <legend>Dados Pessoais</legend>
                    <label for="nome" class="required">  Nome </label><br>
                    <input type="text" name="nome" id="nome" required
                    placeholder="Nome Completo"><br>
                    <label for="ra" class="required">RA</label><br>
                    <input type="text" name="ra" id="ra" required
                    placeholder="9999999999"><br>
                    <label for = "email" class="required">Email</label><br>
                    <input type="email" name="email" id="email"
                    required placeholder="nome@site.com.br"><br>
                    <label for="curso" class="required">Curso</label><br>
                    <input type="text" name="curso" id="curso" required
                     placeholder="Curso"><br>
                     <label for="turno" class="required">Turno</label><br>
                    <input type="text" name="turno" id="turno" required
                     placeholder="turno"><br>
                     <label for="semestre" class="required">Semestre</label><br>
                    <input type="text" name="semestre" id="semestre" required
                    placeholder="semestre"><br>
                    
                    
            
                <p id="checkbox-cor"><input type="checkbox" value="" class="checkbox-1" class="required" required="required">
                    Declaro que li o informativo</p>   
                    

            <table>
                <tr>
                  <th>Documento</th>
                  <th>Descrição</th>
                  <th>Dias uteis para entrega</th>
                  <th>Quantidade</th>
                </tr>
                <tr>
                  <td class="tdcheck"><p class="checkbox-doc"><input type="checkbox" value="" class="checkbox-1">Atestado de Matricula</p></td>
                  <td>Atestado de Matricula</td>
                  <td>3</td>
                  <td><select name="quantidade">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    </select></td>
                </tr>
                <tr>
                  <td class="tdcheck"><p class="checkbox-doc"><input type="checkbox" value="" class="checkbox-1">Programa de Disciplinas</p></td>
                  <td>Programa de Disciplinas</td>
                  <td>5</td>
                  <td><select name="quantidade">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    </select></td>
                </tr>
                <tr>
                    <td class="tdcheck"><p class="checkbox-doc"><input type="checkbox" value="" class="checkbox-1">Historico Escolar</p></td>
                    <td>Historico Escolar</td>
                    <td>5</td>
                    <td><select name="quantidade">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      </select></td>
                  </tr>
                  <tr>
                    <td class="tdcheck"><p class="checkbox-doc"><input type="checkbox" value="" class="checkbox-1">Atestado de conclusão- Aluno(a) Formando(a)</p></td>
                    <td>Atestado de conclusão- Aluno(a) Formando(a)</td>
                    <td>3</td>
                    <td><select name="quantidade">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      </select></td>
                  </tr>
              </table>
            </fieldset>


            <input type="submit" name="enviar" id="enviar" value="::.Enviar.::">
        </form> 
          </section> 
    </main>
    <footer>
        <%- include('../componentes/footer'); %>
    </footer>
</body>
</html>